.sub-container h1 {
    text-align: center;
    font-size: 55px;
    margin-top: 50px;
}

.sub-container p {
    text-align: center;
    margin: 20px 20%;
}

/**********Responsive section**********/

@media screen and (max-width: 800px) {
    .sub-container h1 {
        font-size: 40px;
    }

    .sub-container p {
        margin: 20px 0;
    }

}