/**********Header section**********/

.header-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./Images/background-header.jpg);
    position: relative;
}

.container {
    padding: 10px 10%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text p {
    color: #ef5327;
}

.header-text h1 {
    font-size: 80px;
    margin-top: 20px;
}

.header-text h2 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: normal;
}

.header-btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ef5327;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    position: absolute;
    margin-top: 2%;
    font-size: 20px;
}

.header-btn:hover {
    background: #ef5327;

}

/**********About section**********/

.about-section {
    padding: 80px 0%;
    color: #ababab;
}

strong {
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abt-col-1 {
    flex-basis: 35%;
}

.abt-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.abt-col-2 {
    flex-basis: 60%;
}

.abt-col-2 p {
    line-height: 1.8;
}

.sub-header {
    font-size: 60px;
    font-weight: 600px;
    color: white;
}

.tabs {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ef5327;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s
}

.tab-links.act-link::after {
    width: 50%;
}

.tab-conts ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-conts ul li span {
    color: #ef5327;
    font-size: 14px;
}

.tab-conts{
    display: none;
}

.tab-conts.act-tab {
    display: block;
}

.resume {
    padding-left: 100px;
}

.btn.btncv {
    display: inline-block;
    background: #ef5327;
}

/**********Services section**********/

.services-section {
    padding: -30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div svg {
    font-size:  50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list p {
    font-size: 15px;
    line-height: 1.8;
}

.services-list div:hover {
    background: #ef5327;
    transform: translateY(-10px);
}

/**********Portfolio section**********/

.portfolio-section {
    padding: 50px 0;
}

.work-list, .work-list-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.button-container {
    text-align: center;
}

.layer {
    width: 100%;
    height: 0;
    background:  linear-gradient(rgba(0,0,0,0.9), #ef5327);
    border-radius: absolute;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ef5327;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn { 
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ef5327;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
}

.btn:hover {
    background: #ef5327;
}

/**********Contact section**********/

.contact-l {
    flex-basis: 35%;
}

.contact-r {
    flex-basis: 60%;
}

.contact-l p {
    margin-top: 30px;
}

.contact-l p svg {
    color: #ef5327;
    margin-right: 15px;
    font-size: 25px;
}

.social {
    margin-top: 30px;
}

.social a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social a:hover {
    color: #ef5327;
    transform: translateY(-5px);
}

.contact-r form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form .btncv {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}

.copyright {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: 300;
    margin-top: 40px;

}

/**********Responsive section**********/

@media screen and (max-width: 800px) {
    .header-text {
        margin-top: 100%;
        font-size: 18px;
        margin-right: 40px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .header-text h2 {
        margin-top: 20px;
    }

    .header-btn {
        margin-top: 20px;
    }

    .sub-header {
        font-size: 40px;
    }

    .abt-col-1, .abt-col-2 {
        flex-basis: 100%;
    }

    .abt-col-1 {
        margin-bottom: 30px;
    }

    .abt-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-l, .contact-r {
        flex-basis: 100%;
    }
    
    .copyright {
        font-size: 14px;
    }

    .resume {
        margin-left: -60px;
    }
}